
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  border-radius: 6px;
}

body {
  color: #222;
  background-color: #fafafa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.register{
  display: flex;
  gap: 15px
}

.login {
  background: #af39e6;
  text-decoration: none;
  font-weight: light;
  padding: 12px 24px;
  color: white;
  border: none;
  cursor: pointer;
}

.cart{
  text-decoration: none;
  font-weight: light;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

.nav-links{
  display: flex;
  gap: 20px;
  align-items: center;
}

.cart-icon{
  color: #af39e6;
  font-size: 2rem;
  cursor: pointer;
}

.signup {
  background: #af39e6;
  text-decoration: none;
  font-weight: light;
  padding: 12px 24px;
  color: white;
  border: none;
}

.login:hover{
  background: purple;
}

.signup:hover{
   background: purple;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: #af39e6; 
}

.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar nav a:hover {
  filter: brightness(85%);
  /* color: #af39e6; */
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: url('hero-bg.jpg') center/cover no-repeat;
  color: #555;
  font-weight: lighter;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  background: #af39e6;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #af39e6;
}

.art-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 40px;
}

.art-cards {
    border-radius: 8px;
    padding: 10px;
    width: 20rem;
  
    transition: transform 0.2s ease;
}

.art-cards:hover {
    transform: scale(1.05);
    background: #eed5fa;
}

.art-cards img {
    width: 100%;
    height: 75%;
    border-radius: 4px;
}

.line{
  display: flex;
  justify-self: center;
  gap: 40px;
  padding: 20px;
}

.art-cart p{
  font-weight: bold;
  background: #af39e6;
}

.art-price p{
  font-weight: bold;;
}

.art-title {
    font-size: 16px;
    margin: 5px 0;
    font-weight: bold;
}

.art-artist {
    font-size: 14px;
    color: #555;
    margin: 2px 0;
}

.art-year {
    font-size: 12px;
    color: #777;
}

.art-price {
    font-size: 14px;
    color: #007BFF; 
    margin: 5px 0;
    font-weight: bold;
}

.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 50px;
  display: flex;
}

.socials {
     display: flex;
     margin-left: 600px;
}

.socials a {
  margin: 0 30px;
  color: #af39e6;
  text-decoration: none;
  text-align: end;
}
